@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

hr {
  margin-top: 50px;
  margin-bottom: 20px;
}

.site-header {
  background-color: #d6cfd0;
}

header {
  height: 80px;
}

.site-title {
  font-family: "DomaineText", Georgia, serif;
  color: #ffffff;
  margin-top: 13px;
}

.site-title, .site-title:visited {
  color: #ffffff;
}

.site-nav {
  font-family: "DomaineText", Georgia, serif;
  color: #443235; 
  margin-top: 13px;
}

body {
  background-color: #e6ddde;
  font-family: "DomaineText", Georgia, serif;
  color: #443235; 
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
  background-color: #e6ddde;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

.wrapper {
  margin-right: 15%;
  margin-left: 15%;
  max-width: none;
  min-height: 80px;
}

a.post-link {
  color: #443235
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 16px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

p.rss-subscribe {
  display: none !important;
}

#mc_embed_shell {
  border: 2px solid #333;  /* example: 2px thick, solid, dark gray border */
  padding: 10px;           /* optional, to add some space inside the border */
  border-radius: 5px;      /* optional, rounded corners */
  margin-top: 25px;
  margin-bottom: 25px;
}

#mc_embed_signup {
  width: 100% !important;
  box-sizing: border-box;
  background: #e6ddde;
  font: 14px "DomaineText", Georgia, serif;
  clear: left;
}

#mc-embedded-subscribe {
  font: 14px "DomaineText", Georgia, serif;
}
